<form (ngSubmit)="submitLogin()" [formGroup]="formLogin" id="form-login">
  <h1>Connexion</h1>
  <div class="element-form">
    <label>Pseudo</label>
    <input [(ngModel)]="model.pseudo" formControlName="pseudo" name="pseudo" type="text" required>
  </div>
  <div class="element-form">
    <label>Mot de passe</label>
    <input [(ngModel)]="model.password" formControlName="password" name="password" type="password" required>
  </div>
  <div>
    <button type="submit" [disabled]="formLogin.invalid">Se connecter</button>
  </div>
  <p *ngIf="!this.connexionOK">Pseudo ou mot de passe incorrect.</p>
</form>
