#background {
  background-image: url("img/dawntrail.jpg");
  #content{
    display:flex;
    justify-content:center;
  }
}

#forms{
  display:flex;
  justify-content:center;
  gap:5em;
  padding: 1.5em 0;
}
