#history{
  display:flex;
  flex-direction: column;
  gap:2em;

  border: 1px black solid;
  padding: 2em;
  margin: 1.5em;
  h1{
    font-size:2.1em;
  }
  .vote-history{
    display:flex;
    gap: 1em;

    .vote-history-infos{
      display:flex;
      flex-direction: column;
      h2{
        font-size:1.4em;
      }
    }
  }
}


